/* #000000 */
/* #b3b3b3 */
/* #ff0080 */

body {
  background-color: #000000;
}
.bodysector1 {
  margin-left: 12%;
  margin-right: 12%;
  color: #ff0080;
}

@media only screen and (max-width: 1026px) {
  .bodysector1 {
    margin-left: 4%;
    margin-right: 4%;
  }
  .description {
    display: none;
  }
  .web-description {
    display: none;
  }
}

@media only screen and (min-width: 1026px) {
  .mob-description {
    display: none;
  }
}

.bodysector2 {
  margin-left: 12%;
  margin-right: 12%;
  color: #ffffff;
}

.header {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  color: #ff0080;
}

.line {
  border: 0;
  height: 1px;
  background-color: #ffffff;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-thumbnail img{
  width: 150px;
}

.profile-title {
  display: flex;
  align-items: end;
}
.profile-title img {
  margin-right: 4px;
}

.icon-tray {
  display: flex;
  flex-wrap: wrap;
}
.icon-packet {
  display: flex;
  align-items: end;
  margin-right: 10px;
}

.icon-packet img {
  width: 25px;
}

.container {  display: grid;
  grid-template-columns: 0.7fr 1.8fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: center;
  grid-template-areas:
    "title1 detail1 thumbnail1"
    "title2 detail2 thumbnail2"
    "title3 detail3 thumbnail3";
}

.title1 { 
  grid-area: title1;
  justify-self: center; 
}

.title2 { 
  grid-area: title2; 
  justify-self: center; 
}

.title3 { 
  grid-area: title3; 
  justify-self: center; 
}

.detail1 { 
  grid-area: detail1; 
  justify-self: center; 
}

.detail2 { 
  grid-area: detail2; 
  justify-self: center; 
}

.detail3 { 
  grid-area: detail3; 
  justify-self: center; 
}

.thumbnail1 { 
  grid-area: thumbnail1; 
  justify-self: center; 
}

.thumbnail3 { 
  grid-area: thumbnail3; 
  justify-self: center; 
}

.thumbnail2 { 
  grid-area: thumbnail2; 
  justify-self: center; 
}

.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}

/* unvisited link */
a:link {
  color: #ffffff;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  color: #ff0080;
}

/* unvisited link */
.bodysector2 a:link {
  color: #ff0080;
}

/* visited link */
.bodysector2 a:visited {
  color: #ff0080;
}

/* mouse over link */
.bodysector2 a:hover {
  color: #ffffff;
}

/* @media only screen and (max-width: 1026px) {
  .description {
      display: none;
  }
} */