*{
  /* remove list dots and link underlines */
  list-style: none;
  text-decoration: none;
  transition: ease-in 0.2s;
  line-height: 1;
}

:root{
  /* Colours and fonts */
  --col-01: #ededed;
  --col-02: #151515;
  --col-03: #b3b3b3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

body{
  margin: 0px;
  background-color: var(--col-01);
  color: var(--col-02);
  overflow-y: scroll;
}
.darkmode body{ 
  margin: 0px;
  background-color: var(--col-02);
  color: var(--col-02);
  overflow-y: scroll;
}

.spaceblock {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "outerspacewooOOOooOOoO";
  height: 15vh;
  /* background-color: blue; */
}

.pitawrap{
  position: fixed;
  width: 100%;
}

/* Grid Layout */
.container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1.2fr 2.2fr 0.2fr 100fr;
  grid-auto-columns: 1fr;
  gap: 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "Name        Navigation"
    ".           .         "
    "Description .         "         
    "Masonry     Masonry   ";
}

.Name {
  grid-area: Name;
  background-color: var(--col-01);
}.darkmode .Name {
  grid-area: Name;
  background-color: var(--col-02);
}

.Navigation { 
  grid-area: Navigation;
  display: flex;
  justify-content: space-between;
  background-color: var(--col-01);
}.darkmode .Navigation { 
  grid-area: Navigation;
  display: flex;
  justify-content: space-between;
  background-color: var(--col-02);
}

.Navigation ul {
      display: flex;
      margin: 0;
}
   
.Description { 
  grid-area: Description;
  justify-content: center;
  display: flex;
  text-align: right;
  /* background-color: green; */
}

.Masonry {
  grid-area: Masonry;
  /* background-color: purple; */
}

/* Grid Layout */
.header-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1.2fr ;
  grid-auto-columns: 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "Name        Navigation";
}

.footer-container{
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "year link";
}
.footer-year {
  grid-area: year;
  background-color: var(--col-01);
}.darkmode .footer-year{
  grid-area: year;
  background-color: var(--col-02);
}
.footer-year p {
  margin-left: 5px;
  color: var(--col-03);
  width: 50vw;
}
.darkmode .footer-year p {
  margin-left: 5px;
  color: var(--col-03);
  width: 50vw;
}
.footer-link {
  grid-area: link;
  background-color: var(--col-01);
}.darkmode .footer-link{
  grid-area: link;
  background-color: var(--col-02);
}
.footer-link p {
  margin-right: 5px;
  text-align: right;
  color: var(--col-03);
}
.darkmode .footer-link p {
  margin-right: 5px;
  color: var(--col-03);
}
.footer-link a:hover {
  text-decoration: underline;
  color: var(--col-03);
}
.darkmode .footer-link a:hover {
  text-decoration: underline;
  color: var(--col-03);
}

/*Grid Layout*/
.info-container {
  margin-left: 5px;
  display: grid;
  grid-template-columns: .18fr .6fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "   Description Dcontent"
    "   Contact     Ccontent"
    "   Social      Scontent"
    "   Ztyle       Zcontent";
}

.info-Description { 
  grid-area: Description;
  display: flex;
  text-align: right;
  justify-content: space-between;
  height: 7vh;
}

.info-Contact { 
  grid-area: Contact; 
  display: flex;
  text-align: right;
  justify-content: space-between;
  height: 3vh;
}

.info-Social { 
  grid-area: Social; 
  display: flex;
  text-align: right;
  justify-content: space-between;
  height: 3vh;
}

.info-Ztyle { 
  grid-area: Ztyle; 
  display: flex;
  text-align: right;
  justify-content: space-between;
  height: 3vh;
}

/* .info-Dcontent{
  background-color: darkgray;
}
.info-Ccontent{
  background: blue;
}
.info-Scontent{
  background-color: grey;
}
.info-Zcontent{
  background-color:lightcoral ;
} */


@media (max-width: 768px) {
  .info-Dcontent{
  text-align: right;
  }
  .info-Ccontent{
  text-align: right;
  }
  .info-Scontent{
  text-align: right;
  }
  .info-Zcontent{
  text-align: right;
  }
}

/* Title Styling */
.textlogolink{
  position: fixed;
  margin-left: 5px;
  color: var(--col-02);
  line-height: 0;
  font-weight: 600;
}
.textlogolink:hover{
  cursor: pointer;
}
.darkmode .textlogolink{
  margin-left: 5px;
  color: var(--col-01);
  line-height: 0;
}
p{
  color: var(--col-02);
  cursor: default;
}
.darkmode p {
  color: var(--col-01);
  cursor: default;
}

.square{
  width: 7px;
  height: 7px;
  border-style: solid;
  border-color: var(--col-02);
  border-width: 1px;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 8px;
}
.darkmode .square {
  width: 7px;
  height: 7px;
  border-style: solid;
  border-color: var(--col-01);
  border-width: 1px;
  cursor: pointer;
  margin-top: 8px;
}

li{
  color: var(--col-02);
  padding-right: 5px;
  margin-top: 8px;
}
.darkmode li{
  color: var(--col-01);
}
li:hover{
  color: var(--col-02);
  padding-right: 5px;
}
.darkmode li:hover{
  color: var(--col-01);
}

a {
  color: var(--col-02);
  cursor: default;
}
.darkmode a {
  color: var(--col-01);
  cursor: default;
}
a:hover {
  text-decoration: underline;
  color: var(--col-02);
  transition: 0s;
}
.darkmode a:hover {
  text-decoration: underline;
  color: var(--col-01);
  transition: 0s;
}
.page-links a:hover{
  cursor: default;
}
.footer-link a:hover{
  cursor: default;
}