/* #000000 */
/* #b3b3b3 */
/* #ff0080 */
body { 
  background-color: #000000;
}

.bodysector1 {
  margin-left: 12%;
  margin-right: 12%;
  color: #ff0080;
}

.bodysector2 {
  margin-left: 12%;
  margin-right: 12%;
  color: #ffffff;
}

.break{ margin-bottom: 35px; }
.smallbreak{ margin-bottom: 10px; }

.header {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  color: #ff0080;
}

.subtitle { color: #ff0080; }

.line {
  border: 0;
  height: 1px;
  background-color: #ffffff;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-thumbnail img{
  width: 150px;
}

.profile-title {
  display: flex;
  align-items: end;
}
.profile-title img { margin-right: 4px; }

.icon-tray {
  display: flex;
  flex-wrap: wrap;
}
.icon-packet {
  display: flex;
  align-items: end;
  margin-right: 10px;
}

.icon-packet img { width: 25px; }

.container {  display: grid;
  grid-template-columns: 0.6fr 1.2fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: center;
  grid-template-areas:
    "title detail thumbnail";
}

.title { grid-area: title; 
align-self: center;}

.detail { grid-area: detail; 
  align-self: center;}


.thumbnail { grid-area: thumbnail; 
  align-self: center;
  justify-self: right;}

.container-2 {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: center;
  grid-template-areas:
  "Bachelor Masters";
}
  
.Bachelor {
  justify-self: start;
  align-self: start;
  grid-area: Bachelor;
}

.Masters {
  justify-self: start;
  align-self: start;
  grid-area: Masters;
}

.container-3 {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: center;
  grid-template-areas:
  "Left-skills Right-skills";
}

.Left-skills {
  justify-self: start;
  align-self: end;
  grid-area: Left-skills;
}

.Right-skills {
  justify-self: start;
  align-self: end;
  grid-area: Right-skills;
}

.container-4 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: center;
  grid-template-areas:
    "ref1 ref2 ref3";
}

.ref1 {
  justify-self: start;
  align-self: end;
  grid-area: ref1;
}

.ref2 {
  justify-self: start;
  align-self: end;
  grid-area: ref2;
}

.ref3 {
  justify-self: start;
  align-self: end;
  grid-area: ref3;
}

.container-5 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: center;
  grid-template-areas:
    "mobref1"
    "mobref2"
    "mobref3";
}

.mobref1 {
  justify-self: start;
  align-self: end;
  grid-area: mobref1;
}

.mobref2 {
  justify-self: start;
  align-self: end;
  grid-area: mobref2;
}

.mobref3 {
  justify-self: start;
  align-self: end;
  grid-area: mobref3;
}

.grid-body{
  margin-left: 10%;
  margin-right: 10%;
}

.container-6 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top-left top-mid top-right"
    "mid-left mid-mid mid-right"
    "bottom-left bottom-mid bottom-right";
}

.top-left {
  justify-self: center;
  align-self: center;
  grid-area: top-left;
}

.top-mid {
  justify-self: center;
  align-self: center;
  grid-area: top-mid;
}

.top-right {
  justify-self: center;
  align-self: center;
  grid-area: top-right;
}

.mid-left {
  justify-self: center;
  align-self: center;
  grid-area: mid-left;
}

.mid-mid {
  justify-self: center;
  align-self: center;
  grid-area: mid-mid;
}

.mid-right {
  justify-self: center;
  align-self: center;
  grid-area: mid-right;
}

.bottom-left {
  justify-self: center;
  align-self: center;
  grid-area: bottom-left;
}

.bottom-mid {
  justify-self: center;
  align-self: center;
  grid-area: bottom-mid;
}

.bottom-right {
  justify-self: center;
  align-self: center;
  grid-area: bottom-right;
}

.container-7 {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: center;
  grid-template-areas:
    "left-1 right-1"
    "left-2 right-2"
    "left-3 right-3"
    "left-4 right-4"
    "left-5 right-5";
}

.left-1 {
  justify-self: center;
  align-self: start;
  grid-area: left-1;
}

.left-2 {
  justify-self: center;
  align-self: start;
  grid-area: left-2;
}

.left-3 {
  justify-self: center;
  align-self: start;
  grid-area: left-3;
}

.left-4 {
  justify-self: center;
  align-self: start;
  grid-area: left-4;
}

.left-5 {
  justify-self: center;
  align-self: start;
  grid-area: left-5;
}

.right-1 {
  justify-self: center;
  align-self: start;
  grid-area: right-1;
}

.right-2 {
  justify-self: center;
  align-self: start;
  grid-area: right-2;
}

.right-3 {
  justify-self: center;
  align-self: start;
  grid-area: right-3;
}

.right-4 {
  justify-self: center;
  align-self: start;
  grid-area: right-4;
}

.right-5 {
  justify-self: center;
  align-self: start;
  grid-area: right-5;
}


.project_img {width: 25vw;}

.copimagesdesktop {
  display: flex;
  justify-content: space-around;
}
.copimagesdesktop img {width: 27vw}
.copimagesmob{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.copimagesmob img {width: 47vw;}

a:link { color: #ffffff; }

a:visited { color: #ffffff; }

a:hover { color: #ff0080; }

.bodysector2 a:link { color: #ff0080; }

.bodysector2 a:visited { color: #ff0080; }

.bodysector2 a:hover { color: #ffffff; }

@media only screen and (max-width: 1026px) {
  .bodysector1 {
    margin-left: 1%;
    margin-right: 1%;
  }

  .bodysector2 {
    margin-left: 1%;
    margin-right: 1%;
  }

  .Masters {
    justify-self: end;
    align-self: end;
    grid-area: Masters;
    text-align: right;
  }

  .project_img {width: 47vw;}

  .grid-body{
    margin-left: 0;
    margin-right: 0;
  }
  .container-6 {display: none;}

  .description{display: none;}

  .web-description{display: none;}
  
  .detail{display: none;}
  
  .container-4{display: none;}
  
  .work_description{display: none;}

  .iframe{display: none;}

  .project_link {display: none;}

  .copimagesdesktop {display: none;}

}

@media only screen and (min-width: 1026px) {
  .mob-description {display: none;}
  .container-5 {display: none;}
  .container-7 {display: none;}
  .mob_work_description { display: none; }
  .mob_iframe { display: none; }
  .copimagesmob{display: none}
}